<section class="section activation">
    <div class="container">
        <h2 class="title activation__title title--center">
            Активировать вход программу
        </h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card activation__item">
                    <span class="activation__item-img" style="background-image: url('img/activation/1.jpg');"></span>
                    <div class="activation__item-content">
                        <h4 class="activation__item-title green-title">
                            Недвижимость
                        </h4>
                        <div class="text activation__item-text text--smaller">
                            внести на баланс 390 $ по курсу НБР Казахстан для участия в программе «Недвижимость»
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card activation__item">
                    <span class="activation__item-img" style="background-image: url('img/activation/2.jpg');"></span>
                    <div class="activation__item-content">
                        <h4 class="activation__item-title green-title">
                            Автотранспорт
                        </h4>
                        <div class="text activation__item-text text--smaller">
                            внести на баланс 200  $ по курсу НБР Казахстан для участия в программе «Автотранспорт»
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card activation__item">
                    <span class="activation__item-img" style="background-image: url('img/activation/3.jpg');"></span>
                    <div class="activation__item-content">
                        <h4 class="activation__item-title green-title">
                            компьютерная и бытовая техника
                        </h4>
                        <div class="text activation__item-text text--smaller">
                            внести на баланс 20  $ по курсу НБР Казахстан для участия в программе «Компьютерная и бытовая техника»
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>