<section class="section activity">
    <div class="section__content activity__content">
        <div class="container">
            <div class="section__body">
                <div class="activity__item">
                    <h2 class="title section__title">
                        Что мы делаем
                    </h2>
                    <p class="text activity__item-text text--bigger">
                        — Мы предоставляем онлайн платформу, доступ к которой позволяет получить уникальное обучение, и возможность применить полученные знания на практике, используя при этом все финансовые, маркетинговые инструменты и программы компании.
                    </p>
                    <br>
                    <p class="text activity__item-text text--bigger">
                        — Мы объединяем людей из разных стран мира, которые создают глобальный мировой поток, оказывая взаимную помощь и поддержку друг другу.
                    </p>
                </div>
                <div class="activity__item">
                    <h2 class="title activity__item-title">
                        Почему мы?
                    </h2>
                    <p class="subtitle activity__item-subtitle">
                        Мы верим в развитие, основанное на реальных людях
                    </p>
                    <p class="text activity__item-text">
                        Мы считаем, что настало время для людей, которым небезразличны инклюзивность, достоинство и справедливость.
                    </p>
                    <br>
                    <p class="text activity__item-text">
                        Мы предоставляем небольшие гранты и другую поддержку общественным благотворительным организациям, социально незащищенным слоям населения.
                    </p>
                    <a class="button activity__btn open-popup" href="#popup">
                        Присоединиться
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__block section__img activity__img">
        <img src="img/bg/house.jpg" alt="house">
    </div>
</section>