<section class="aim">
    <div class="container">
        <div class="row aim__header">
            <div class="col-md-3">
                <h2 class="title aim__title">
                    Цель проекта
                </h2>
            </div>
            <div class="col-md-5 offset-md-3 text aim__text">
                Предоставить каждому из наших партнеров возможность приобрести дом своей мечты на выгодных для них условиях и создать активы.
            </div>
        </div>
        <div class="row aim__items">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card aim__item">
                    <div class="aim__item-content">
                        <h4 class="green-title aim__item-title">
                            Возможность
                        </h4>
                        <div class="text aim__item-text">
                            накопить средства на дом Вашей мечты, зарабатывая при этом на каждом этапе Вашего пути
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card card--img aim__item aim__item--img" style="background-image: url('../img/aim/aim-2.jpg');"></div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card aim__item">
                    <div class="aim__item-content">
                        <h4 class="green-title aim__item-title">
                            Свобода
                        </h4>
                        <div class="text aim__item-text">
                            полная свобода выбора и право распоряжаться заработанными средствами на своё усмотрение
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card card--img aim__item aim__item--img" style="background-image: url('../img/aim/aim-4.jpg');"></div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card aim__item">
                    <div class="aim__item-content">
                        <h4 class="green-title aim__item-title">
                            ВХОД В ПРОГРАММУ
                        </h4>
                        <div class="text aim__item-text">
                            единоразовый вход для участия в программе всего 75 $
                        </div>
                        <a class="button aim__item-btn open-popup" href="#">
                            Участвовать в Программе
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card card--img aim__item aim__item--img" style="background-image: url('../img/aim/aim-6.jpg');"></div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card aim__item">
                    <div class="aim__item-content">
                        <h4 class="green-title aim__item-title">
                            Команда
                        </h4>
                        <div class="text aim__item-text">
                            командная система заполнения площадки
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card aim__item">
                    <div class="aim__item-content">
                        <h4 class="green-title aim__item-title">
                            Вывод
                        </h4>
                        <div class="text aim__item-text">
                            100% выплат в сеть. Прозрачность, надёжность, стабильность!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <div class="card aim__item">
                    <div class="aim__item-content">
                        <h4 class="green-title aim__item-title">
                            Условия
                        </h4>
                        <div class="text aim__item-text">
                            отсутствие условий к квалификациям и выплатам
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>