<section class="section anti-crisis__section">
    <div class="section__block section__content">
        <div class="container">
            <div class="section__body anti-crisis__body anti-crisis__body--left">
                <h1 class="title">
                    АНТИ - кризисная программа
                </h1>
                <p class="text section__text text--bigger">
                    Этот проект был создан для наших партнеров, чтобы дать им возможность приобрести дом своей мечты на выгодных для них условиях и создать активы. Мы предоставляем все необходимые источники для реализации идей людей, где бы они ни находились.
                </p>
                <a class="button section__btn open-popup" href="#">
                    Присоединиться
                </a>
            </div>
        </div>
    </div>
    <div class="section__block section__img anti-crisis__img">
        <img src="img/anti-crisis/house-1.jpg" alt="">
    </div>
</section>

<section class="section anti-crisis__section">
    <div class="section__block section__img anti-crisis__img section__img--left">
        <img src="img/anti-crisis/house-2.jpg" alt="">
    </div>
    <div class="section__block section__content">
        <div class="container">
            <div class="section__body anti-crisis__body anti-crisis__body--right">
                <h1 class="title">
                    Возможности программы
                </h1>
                <p class="text section__text text--bigger">
                    Мы даем возможность накопить деньги на дом вашей мечты, зарабатывая при этом на каждом этапе вашего путешествия. Купить недвижимость без кредита реально, если каждый из нас протянет руку друг другу. И вот мы здесь.
                </p>
                <a class="button section__btn open-popup" href="#">
                    Присоединиться
                </a>
            </div>
        </div>
    </div>
</section>