<section class="bio">
    <div class="container container--bigger">
        <div class="row bio__main">
            <div class="col-12 col-md-6">
                <div class="bio__left-column">
                    <img class="bio__img" src="img/profile.jpg" alt="profile">
                    <p class="bio__name">
                        Тылькович Наталья Константиновна
                    </p>
                    <div class="bio__question-title">
                        Что приобретают люди после общения со мной?
                    </div>
                    <p class="bio__subtitle">
                        Не все, а только лишь те, с кем мы близки по духу…
                    </p>
                    <ul class="bio__list">
                        <li class="text bio__list-item text--lh27">
                            <b>Получают</b> мощный заряд положительной энергетики и мотивации для достижения своих целей;
                        </li><br>
                        <li class="text bio__list-item text--lh27">
                            <b>Узнают,</b> как можно улучшить жизнь благодаря возможностям, которые даёт нам сегодня онлайн-бизнес;
                        </li><br>
                        <li class="text bio__list-item text--lh27">
                            <b>Перенимают</b> мои знания и опыт, которые я обрела у лучших бизнес-тренеров, миллионеров-практиков;
                        </li><br>
                        <li class="text bio__list-item text--lh27">
                            <b>Осознают</b> свои возможности совершенно по-новому, после чего вливаются в окружение успешных и целеустремленных людей.
                        </li>
                    </ul>
                    <p class="bio__action-text">
                        Если ты один из них, то я жду тебя в своей команде GCF!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 bio__right-column">
                <h1 class="title">
                    Как стать партнером GCF
                </h1>
                <p class="text section__text bio__right-subtitle text--bigger">
                    На сегодняшний день я обладаю рядом компетенций:
                </p>
                <ul class="bio__list bio__right-list">
                    <li class="text bio__list-item text--lh27">
                        Помогаю начать свой бизнес в интернете вместе с компанией GCF;
                    </li><br>
                    <li class="text bio__list-item text--lh27">
                        Предоставляю проверенные инструменты;
                    </li><br>
                    <li class="text bio__list-item text--lh27">
                        Обучаю эффективному продвижению через социальные сети;
                    </li><br>
                    <li class="text bio__list-item text--lh27">
                        Делюсь знанием по созданию множественных источников дохода (в том числе пассивных).
                    </li>
                </ul>
                <p class="text text--lh27">
                    Если что-либо из этого списка интересует тебя, смело добавляйся в скайп — live: tylkovich2701 с пометкой: «Бизнес в сети».
                </p><br>
                <p class="text text--lh27">
                    За годы своей деятельности в интернете я прошла путь от зелёного новичка до уверенного в себе эксперта онлайн-бизнеса, что теперь даёт возможность помогать другим людям достичь того же самого;
                </p><br>
                <p class="text text--lh27">
                    Несмотря на все свои достижения, я всё равно продолжаю развиваться личностно и постоянно обучаюсь, в том числе и в компании GCF, поэтому можешь быть уверен, что обратившись ко мне за помощью, ты получишь лучшие решения.
                </p><br>
                <p class="text text--lh27">
                    Я верю в то, что время — самый ценный ресурс в жизни, и каждый миг нужно использовать по максимуму. Вовсе неважно, сколько дней в твоей жизни, важнее, сколько жизни в твоих днях;
                </p><br>
                <p class="text text--lh27">
                    Я знаю, что каждый человек может стать успешным, независимо от жизненных обстоятельств, в которых он находится, где ему кажется, что выхода нет. На самом деле это не так, потому что многие богатые и успешные люди добились всего, за счёт своего упорства, а не получив в наследство кругленькую сумму денег;
                </p><br>
                <p class="text text--lh27">
                    Я уверена, что каждый человек должен играть в жизни только главные (свои) роли, а не жить по чужому сценарию; каждый человек достоин, заниматься любимым делом, которое будет приносить ему не только моральное, но и материальное удовлетворение;
                </p><br>
                <p class="text text--lh27">
                    И наконец, я, глубоко убеждена, что каждый предприниматель может заработать первый миллион честным путём, к тому же я не приемлю других способов ведения бизнеса. А ты солидарен с этим?
                </p>
            </div>
        </div>

        <ul class="row bio__benefits-list">
            <li class="col-12 col sm-10 col-md-6">
                Я коммуникабельная — открыта к новым знакомствам с интересными и позитивными людьми. Более того я способна поддержать любую тему разговора и поделиться своей жизненной позицией;
            </li>
            <li class="col-12 col sm-10 col-md-6">
                Я целеустремленная — ставлю перед собой амбициозные цели и достигаю их, невзирая на любые преграды, потому что нет ничего невозможного;
            </li>
            <li class="col-12 col sm-10 col-md-6">
                Я мисс позитив — всегда радуюсь жизни (так как считаю это лучшим способом жить), и делюсь своей мощной энергетикой с окружающими;
            </li>
            <li class="col-12 col sm-10 col-md-6">
                Я добрая и отзывчивая — готова прийти на помощь и поддержать в трудную минуту. Особенно я неравнодушна к помощи больным детям.
            </li>
        </ul>
    </div>
</section>