<section class="section company">
    <div class="section__block section__content company__content section__block--gray">
        <div class="container">
            <div class="company__body">
                <h1 class="title section__title">
                    GCF компания
                </h1>
                <p class="text text--bigger">
                    Мы верим в развитие, основанное на реальных людях — это наиболее эффективный способ обеспечить продолжающиеся результаты, которые принадлежат людям, так как ими же формируются и с удовольствием достигаются. Мы считаем, что настало время для людей, кто заботится о включённости, достоинстве и справедливости работать вместе, где бы они не были.
                </p>
            </div>
        </div>
    </div>
    <div class="section__block company__content company__video section__block--dark">
        <iframe width="452" height="242" src="https://www.youtube.com/embed/xssJPhIC6F0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>