<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo header__logo">
                <a class="logo__link header__logo-link" href="index.html">
                    <img class="logo__img header__logo-img" src="img/logo.svg" alt="logo">
                </a>
            </div>
            <nav class="menu header__menu">
                <ul class="menu__list header__menu-list">
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="anti-crisis-program.html">
                            Анти-кризис
                        </a>
                    </li>
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="housing-program.html">
                            Жилищная программа
                        </a>
                    </li>
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="education.html">
                            Обучение
                        </a>
                    </li>
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="marketing.html">
                            Маркетинг
                        </a>
                    </li>
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="about.html">
                            О компании
                        </a>
                    </li>
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="registration.html">
                            Регистрация
                        </a>
                    </li>
                    <li class="menu__item header__menu-item">
                        <a class="menu__link header__menu-link" href="contacts.html">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <a class="phone header__phone" href="tel:+375447562825">
                +375 (44) 756 28 25
            </a>
            <div class="hamburger-btn">
                <span class="hamburger-btn__item"></span>
                <span class="hamburger-btn__item"></span>
                <span class="hamburger-btn__item"></span>
            </div>
        </div>
    </div>

    <div class="mobile-menu">
        <nav class="menu header__menu">
            <ul class="menu__list header__menu-list">
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="anti-crisis-program.html">
                        Анти-кризис
                    </a>
                </li>
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="housing-program.html">
                        Жилищная программа
                    </a>
                </li>
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="education.html">
                        Обучение
                    </a>
                </li>
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="marketing.html">
                        Маркетинг
                    </a>
                </li>
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="about.html">
                        О компании
                    </a>
                </li>
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="registration.html">
                        Регистрация
                    </a>
                </li>
                <li class="menu__item header__menu-item">
                    <a class="menu__link header__menu-link" href="contacts.html">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
        <a class="phone header__phone" href="tel:+375447562825">
            +375 (44) 756 28 25
        </a>
    </div>
</header>