<section class="marathon">
    <div class="container">
        <h2 class="title marathon__title">
            Марафон
        </h2>
        <div class="row marathon__inner">
            <div class="col-12 col-md-4 text marathon__text text--smaller">
                Образовательная программа состоит из: четырёх модулей, внутри каждого модуля от десяти и более уроков, для изучения и осуществления которого, Вам нужно будет уделять на обучение всего 30 минут ежедневно.
            </div>
            <div class="col-12 col-md-4 text marathon__text text--smaller">
                Задания на курсе не сложные, и их выполнение не потребует особых усилий, но именно из-за их простоты есть риск того, что они не будут завершены во время, а напротив, будут отложены на потом. Таким образом, мы призываем вас ответственно относится к каждому заданию, тем более что система обучения, которую мы вам предлагаем, не имеет аналога в мире.
            </div>
            <div class="col-12 col-md-4 text marathon__text text--smaller">
                Если вы возьмете каждый из модулей в отдельности и рассмотрите его как отдельное обучение, то на рынке самообразования за подобный инструмент вы заплатили бы не менее 500 долларов. Наша команда делает эти знания доступными каждому.
            </div>
        </div>

        @@include('_join.html')
    </div>
</section>