<ul class="social__list footer__socials">
    <li class="social__list-item footer__social-item">
        <a href="#"><img src="img/icons/socials/skype.svg" alt=""></a>
    </li>
    <li class="social__list-item footer__social-item">
        <a href="#"><img src="img/icons/socials/youtube.svg" alt=""></a>
    </li>
    <li class="social__list-item footer__social-item">
        <a href="#"><img src="img/icons/socials/telegram.svg" alt=""></a>
    </li>
    <li class="social__list-item footer__social-item">
        <a href="#">f</a>
    </li>
    <li class="social__list-item footer__social-item">
        <a href="#"><img src="img/icons/socials/odnoklassniki.svg" alt=""></a>
    </li>
    <li class="social__list-item footer__social-item">
        <a href="#"><img src="img/icons/socials/vk.svg" alt=""></a>
    </li>
</ul>