<section class="section social-program">
    <div class="section__block section__content">
        <div class="container">
            <div class="section__body social-program__content">
                <div class="social-program__item">
                    <h1 class="title">
                        Социальная программа «Shanyrak»
                    </h1>
                    <p class="text section__text social-program__text text--bigger">
                        Создана для улучшения и решения проблем Пользователей онлайн платформы GCF, с правом получения комфортных условий по приобретению жилья, автомобиля, бытовой техники и других ценностей.
                    </p>
                    <a class="button section__btn social-program__btn open-poup" href="#">
                        Присоединиться
                    </a>
                </div>
                <div class="social-program__item">
                    <h2 class="title section__title">
                        Цель программы
                    </h2>
                    <p class="text">
                        Помощь в удовлетворении потребностей, создающие комфортные условия каждодневной жизни и, которые сложно решать в одиночку.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section__block section__img">
        <img src="img/family.jpg" alt="">
    </div>
</section>