.contact {

    min-height: 638px;
    margin-bottom: 90px;

    @media(max-width: 767px) {
        flex-wrap: wrap;
    }

    &__left, &__right {
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__content {
        width: 100%;
    }

    // .contact__form

    &__form {
        width: 500px;
        padding: 40px 43px 55px;
        margin: 95px 85px 0 auto;
        @media(max-width: 991px) {
            width: 100%;
            padding: 40px;
            margin: 10px 50px 0 auto;
        }
        @media(max-width: 575px) {
            padding: 30px 0;
            margin: 0;
        }
    }

    // .contact__info

    &__info {
        width: 411px;
        margin-top: 90px;
        margin-bottom: 90px;
        margin-left: 124px / 960px * 100%;
        margin-right: auto;
        @media(max-width: 991px) {
            width: 100%;
            margin: 50px 30px 0px 50px;
        }
        @media(max-width: 767px) {
            margin: 0;
            padding: 30px 0;
        }
    }
}

.contact-form {

    // .contact-form__title

    &__title {
        margin-bottom: 28px;
        @media(max-width: 575px) {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    // .contact-form__fields

    &__fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        height: 160px;
        @media(max-width: 991px) {
            height: 300px;
            grid-template-rows: repeat(5, 1fr);
        }
    }

    // .contact-form__input

    &__input {
        @media(max-width: 991px) {
            grid-column: 1 / 3;
        }
    }

    // .contact-form__textarea

    &__textarea {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        @media(max-width: 991px) {
            grid-column: 1 / 3;
            grid-row: 4 / 6;
            order: 4;
        }
    }

    // .contact-form__agreement

    &__agreement {
        display: block;
        margin-top: 15px;
    }

    // .contact-form__btn

    &__btn {
        display: block;
        padding: 12px 30px;
        margin: 0 auto;
        margin-top: 20px;
        @media(max-width: 400px) {
            width: 100%;
        }
    }
}

.contact-info {

    // .contact-info__title

    &__title {
        margin-bottom: 30px;
    }

    // .contact-info__text

    &__text {
        margin-bottom: 40px;
        @media(max-width: 575px) {
            margin-bottom: 20px;
        }
    }

    // .contact-info__items

    &__items {
        margin-bottom: 40px;
        @media(max-width: 575px) {
            margin-bottom: 20px;
        }
    }

    // .contact-info__item

    &__item {
        display: flex;
        font-size: 24px;
        line-height: 28px;
        span {
            display: inline-block;
            width: 115px;
            color: $gray-text;
            margin-right: 19px;
            @media(max-width: 991px) {
                width: 100px;
            }
            @media(max-width: 575px) {
                margin-right: 0;
            }
        }
        @media(max-width: 991px) {
            font-size: 20px;
            line-height: 25px;
        }
        @media(max-width: 575px) {
            font-size: 14px;
            line-height: 20px;
        }
        @media(max-width: 420px) {
            justify-content: space-between;
        }
    }

    // .contact-info__email

    &__email {
        text-decoration: underline;
    }
}