.platform {

    // .platform__title

    &__title {
        margin-bottom: 50px;
    }

    // .platform__item

    &__item {
        &--middle {
            .platform {
                &__item-content {
                    padding-bottom: 25px;
                }
            }
        }
    }

    // .platform__item-img

    &__item-img {
        display: block;
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }

    // .platform__item-content

    &__item-content {
        text-align: center;
        padding: 30px 30px 50px 30px;
        @media(max-width: 575px) {
            padding: 20px;
        }
    }

    // .platform__item-title

    &__item-title {
        font-weight: 700;
        margin-bottom: 30px;
    }
}
