<!DOCTYPE html>
<html lang="ru">
@@include('_head.html')

<body>

    @@include('../blocks/modules/header/_header.html')

    @@include('../blocks/modules/promo/_promo.html')

    @@include('../blocks/modules/acquaintance/_acquaintance.html')

    @@include('../blocks/modules/service/_service.html')

    @@include('../blocks/modules/program/_program.html')

    @@include('../blocks/modules/activity/_activity.html')

    @@include('../blocks/modules/footer/_footer.html')

    @@include('../blocks/modules/modal/_modal.html')

    @@include('_js.html')

</body>

</html>