.registration {
    min-height: 550px;
    padding: 70px 0;
    margin-bottom: 90px;

    @media (max-width: 991px) {
        margin-bottom: 70px;
    }

    @media (max-width: 767px) {
        padding: 50px 0 0;
        margin-bottom: 50px;
    }

    // .registration__title

    &__title {
        margin-bottom: 50px;

        @media (max-width: 575px) {
            margin-bottom: 30px;
        }
    }

    &__inner {
        align-items: center;
        @media (max-width: 1200px) {
            align-items: flex-start;
        }
    }

    &__form {
        padding-right: 20px;
        @media (max-width: 1200px) {
            padding-right: 0;
        }
    }

    // .registration__steps

    &__steps {
        padding-right: 17px;
        @media (max-width: 1200px) {
            padding-right: 0;
        }
        @media (max-width: 991px) {
            margin-top: 30px;
        }
    }

    // .registration__step

    &__step {
        display: flex;

        &--center {
            align-items: center;
        }

        @media (max-width: 400px) {
            flex-wrap: wrap;
        }
    }

    &__step + &__step {
        margin-top: 20px;
    }

    // .registration__step-title

    &__step-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $accent;
        white-space: nowrap;
        margin-right: 30px;

        @media (max-width: 400px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    // .registration__step-descr

    &__step-descr {
        color: #4f4f4f;

        span {
            text-transform: uppercase;
        }

        a {
            span {
                border-bottom: 1px solid #4f4f4f;
            }
        }
    }
}

.registration-form {
    // .registration-form__fields

    &__fields {
        @include flex;
        flex-wrap: wrap;
    }

    // .registration-form__field

    &__field {
        width: 190px / 610px * 100%;
        margin-bottom: 20px;

        &:first-child {
            @media (max-width: 1200px) {
                width: 100%;
            }
            @media (max-width: 991px) {
                width: 31%;
            }
        }

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 991px) {
            width: 31%;
        }

        @media (max-width: 650px) {
            width: 48%;

            &:first-child {
                display: none;
            }
        }

        @media (max-width: 430px) {
            width: 100%;
        }
    }

    // .registration-form__agreement

    &__agreement {
        @include flex;
        align-items: center;
        margin-top: 6px;

        @media (max-width: 575px) {
            flex-wrap: wrap;
        }
    }

    // .registration-form__checkboxes

    &__checkboxes {
        max-width: 380px / 610px * 100%;
        @media (max-width: 575px) {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    input[type="checkbox"]:checked + .registration-form__checkbox {
        background-color: $accent;
    }

    input[type="checkbox"]:checked + .registration-form__checkbox:before {
        background-image: url("../img/icons/checkbox-white.svg");
    }

    // .registration-form__label

    &__label {
        display: block;
    }

    &__label + &__label {
        margin-top: 9px;
    }

    // .registration-form__btn

    &__btn {
        padding: 8px 30px;
    }
}
